@import "tailwindcss";

.font-unifraktur {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}
.font-fascinate {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-patrick-hand {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


